.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.carousel-title, .carousel-content {
  color: black;
}

.empty-bg-gray {
  width: 100%; height:100px; background-color:rgb(221, 221, 221);
}